{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}

  <div class="container">
    <div class="row row-centered">
      <h1 class="col-md-12">{{ title }}</h1>
      <select class="lang-list">
      </select>

      <button class="btn btn-primary" type="button" id="showPractice" name="button">Practice</button>
      <button class="btn btn-primary" type="button" id="showChallenge" name="button">Challenge</button>
      <button class="btn btn-primary" type="button" id="showRecords" name="button">Records</button>

      <div class="" id="recordDiv">

      </div>


      <!-- Form For inputing username, is hidden and set to uneditable after submission -->
      <form id="userForm">
        <label for="userName">Your Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Name">
        <button type="submit" id="setName" class="btn btn-primary" name="button">Set</button>
      </form>

      <!-- Practice Form, Results are simply displayed on the page, not stored to the database -->
      <form id='practiceForm'>
        <div class="form-group col-md-6">
          <h3 id="randomWord"></h3>
        </div>
        <div class="form-group col-md-4">
          <label for="translation">Your Translation</label>
          <input type="text" class="form-control" id="translation" placeholder="word">
        </div>
        <button type="submit" id="submit" class="col-md-1 btn btn-default">Submit</button>
        <button class="btn btn-success" id="generateRandom">Generate Word!</button>
      </form>

      <!-- Challenge Form, Results from this will be stored in the database along with the username set above -->
      <form id='challengeForm'>
        <div class="form-group col-md-6">
          <h3 id="randomChallenge"></h3>
        </div>
        <div class="form-group col-md-4">
          <label for="chalTranslation">Your Translation</label>
          <input type="text" class="form-control" id="chalTranslation" placeholder="word">
        </div>
        <button type="submit" id="challengeSubmit" class="col-md-1 btn btn-default">Submit</button>
        <button class="btn btn-success" id="generateChallenge">Start Challenge!</button>
      </form>

    </div>

      <div class="row row-centered">
        <div class="col-md-4">
          <h3 id="translatedWord">

          </h3>
        </div>
        <div class="col-md-4">
          <h3 id="userWord">

          </h3>
        </div>
      </div>

  </div>

{% endblock %}
