a {
  color: navy;
}
h1 {
  text-align: center;
  font-size: 80px;
  padding-bottom: 30px;
}
/*h2 {
}*/
h3 {
  font-size: 50px;
}
body {
    background-color: white;
    color:navy;
}
.submit {
  margin-top: 21px;
}
.container {
/*  padding: 50px;
*/  font-family: 'Lora', 'Times New Roman', serif;
  color: navy;
  font-size: 20px;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
}
.intro-header {
    width: 100%;
    height: 350px;
/*    background-image: url('/img/hello3.png');
*/  background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
/*    margin-bottom: 2%;
*/}​

.table {
 width: 200px;
}

#randomChallenge {
  margin-left: -125px;
}

.challengeQuestion {
  display: inline;
  padding: 5px;
  border: solid 1px black;
  margin: 2px;
}

.current {
  font-size: 2em;
}

.correct {
  color: green;
}
.incorrect {
  color: red;
}
